<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="../css/reset.min.css" type="text/css">
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <div class="wrap">
        <div class="header">
            <i class="fa fa-angle-left fa-2x" aria-hidden="true"> </i>
            <h4>个人资料</h4>
            <a href="javascript:;">保存</a>
        </div>
        <div class="main">
            <div class="mainHeader">
                <div class="headPic">
                    <a href="javascript:;"><img src="../images/personal_6.png" alt=""></a>
                </div>
                <span class="tx">
                    <a href="javascript:;">默认头像</a>
                    <div class="headerPicList">
                        <div><img src="../images/personal_0.png" alt=""></div>
                        <div><img src="../images/personal_1.png" alt=""></div>
                        <div><img src="../images/personal_2.png" alt=""></div>
                        <div><img src="../images/personal_3.png" alt=""></div>
                        <div><img src="../images/personal_4.png" alt=""></div>
                        <div><img src="../images/personal_5.png" alt=""></div>
                    </div>
                </span>
                <span>
                    <a href="javascript:;">上传头像</a>
                </span>
            </div>
            <div class="per-data">
                <div class="f1">
                    <p>
                        <span>中文名</span>
                        <input type="text" value="李小琳">
                    </p>
                    <p>
                        <span>英文名</span>
                        <input type="text" value="LiXiaoLin">
                    </p>
                </div>
                <div class="line"></div>
                <div class="f2">
                    <p>
                        <span>职业</span>
                        <input type="text" value="前端工程师">
                    </p>
                    <p class="dh">
                        <span>个人简介</span>
                        <input type="text"  value="李小琳">
                    </p>
                </div>
                <div class="line"></div>
                <div>
                    <p>
                        <span>邮箱</span>
                        <input type="email" value="123@qq.com">
                    </p>
                    <p>
                        <span>微信号</span>
                        <input class="wx" type="text" value="李小琳">
                        <span class="rz">点击认证</span>
                    </p>
                </div>
                <div class="line"></div>
                <div>
                    <p>
                        <span>生日</span>
                        <input type="date" value="1990／11／11">
                    </p>
                    <p>
                        <span>星座</span>
                        <input type="text" value="金牛座">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>